.games-container {
  margin-top: 20px;
  max-width: 440px;
  height: 240px;
  display: block;
  position: relative;

  img {
    width: 100%;
    height: 180px;
  }

  .overlay {
    position: absolute;
    background-color: #053c514d;
    max-width: 440px;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
    z-index: 10;
  }

  .game-top {
    height: 30px;
    display: flex;
    justify-content: space-between;

    h3 {
      color: #fff;
      font-weight: 500;
    }

    .game-top-left {
      width: 60%;
      height: inherit;
    }

    .game-top-right {
      background-color: #053c51;
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top-left-radius: 40px;
    }
  }

  .game-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #053c51;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .tiles {
      width: 80px;
      border-bottom-right-radius: 40px;
      color: #fff;
      height: inherit;
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
    }
  }
}
