* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-spacearound {
  justify-content: space-around;
}
.jc-end {
  justify-content: flex-end;
}

.flex-2 {
  flex: 0.2;
}

.flex-4 {
  flex: 0.4;
}

.flex-6 {
  flex: 0.6;
}

.flex-8 {
  flex: 0.8;
}

.mt-2 {
  margin-top: 2px;
}
.ml-2 {
  margin-left: 2px;
}

.ml-10 {
  margin-left: 10px !important;
}
.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.pb-3 {
  padding-bottom: 3px !important;
}

.pr-10 {
  padding-right: 10px;
}

.pl-20 {
  padding-left: 20px !important;
}

.bg-theme-red {
  background-color: #ed1b24 !important;
}

.bg-theme-orange {
  background-color: #f9a83d !important;
}

.bg-gray {
  background-color: #e7e8ea;
}

.img-wrap {
  width: 100% !important;
}
